// Specific CSS for your home-page
.cocktail-name {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  transition: opacity 0.3s ease;
  &:hover {
   color: white;
   opacity: 0.8;
   text-decoration: none;
  }
}

.banner {
   background-image: asset-url('drink-img.jpg');
}
