
<%= simple_form_for [@cocktail, @dose] do |f| %>

  <%=f.association :ingredient, input_html: { class: "select2"} %>

  <div class="form-inputs">
    <%=f.input :description, as: :text, label: "Add amount", input_html: { rows: 4 } %>
  </div>

  <%=f.submit "create a new dose", class: "btn btn-submit" %>
<% end %>
