
<div class="main-container d-flex flex-column align-items-center ">
 <div class="">
  <div class= "form-card">
    <h1>Add ingredient</h1>
    <%= render 'form' %>
  </div>
</div>
  <div class="link-form">
    <%= link_to "Back to Cocktails", root_path, class: "btn-w"%>
  </div>
</div>

