.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  // &.banner-img {
  //   background-image: url("https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80")
  // }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Roboto Slab', serif;
}
.banner-img {
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 200px;
    h1 {
      color: white;
      font-family: 'Roboto Slab', serif;
    }
 }

// .banner p {
//   font-size: 20px;
//   color: white;
//   opacity: 0.7;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
// }

// .index-banner {
//  background-color: #65c6c4;
// //  background-size: contain;
// //  background-repeat: no-repeat;
// //  background-image: url("cocktail");

// //  text-align: center;
//  border-bottom: 1px solid gray;
// //
//   h1{
//     font-family: 'Yesteryear', cursive;
//     font-size: 40px;
//     letter-spacing: 0.5rem;
//     padding: 80px;
//   }
// }
