.banner {
  background-size: cover;
  // background-position: center;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: lighter;
  padding-top: 20px;
}
.banner-img {
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 200px;
    h1 {
      color: white;
    }
 }

.default-img {
  // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), asset-url("drink-img.jpg");
  background-image: asset-url('drink-img.jpg');
}
