.banner {
  background-size: cover;
  // background-position: center;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: lighter;
  padding-top: 20px;
}
.banner-img {
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 40vh;
    h1 {
      margin-top: 10px;
      color: white;
      padding-top: 24px;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    }
 }

.default-img {
  background-image: asset-url('drink-img.jpg');
}
