.btn-w {
  text-decoration: none;
  color: $main-color;
  background: white;
  border: 1px solid $main-color;
  padding: 8px 8px;
  margin: 8px;
  border-radius: 8px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: $main-color;
  }

}

.btn:hover {
  opacity: 1;
  text-decoration: none;
}



.btn-submit {
  background-color: $main-color;
  text-decoration: none;
  border: 1px solid $main-color;
  color: white;
}
