.btn-w {
  text-decoration: none;
  color: white;
  background: $main-color;
  margin: 40px;
  padding: 8px 8px;
  border-radius: 8px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}

.btn:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-submit {
  background-color: $main-color;
  text-decoration: none;
  border: 1px solid $main-color;
  color: white;
  &:hover {
    color:white;
  }
}

.icon-btn {
  color: $main-color;
  padding: 8px 8px;
  font-size: 10px;
  &:hover {
    color: $main-color;
  }
}

.dot {
  height: 35px;
  width: 34px;
  background-color: $main-color;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-left: 70px;
}

.icon-btn-large {
  margin: 0;
  color: white;
  padding: 0 8px;
  font-size: 24px;
  margin-left: 50px;
  &:hover {
    color: white;
  }
}
