// .main-c {
//   height: 100%;
// }
.main-container, .main-cocktail, .main-cocktail-container {
  display: flex;
}
.main-container {
  margin: 60px 0;
}
.cocktail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  margin: 40px;
  width: 100%;
}

.main-cocktail {
  justify-content: center;
  flex-grow: 1;
  margin: 50px 0;
  padding: 24px;
}

.main-cocktail-container {
  // height: 100vh;
  flex-direction: column;
}

.cocktail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20 0px;
  width: 500px;
  margin-top: 30px;
}

.ingredient-container {
  width: 50%;
  margin-right: 80px;

}
