.form {
  padding: 24px;
  // width: 500px;
  background-color: white;
    h1{
      color: white;
      margin-top: 48px;
    }

  }


.form-control-label {
  color: white;
}

.form-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.form-card {
  background-color: white;
  width: 600px;
  padding: 24px;

}

.link-form {
  margin-top: 20px;
}
