.navbar{
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  background-color: $main-color;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
  }
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  text-decoration: none;
  color: $main-color;
  background-color: white;
  border: 1px solid white;
  padding: 16px 16px;
  margin-right: 20px;
  border-radius: 6px;
  font-weight: lighter;
  opacity: 0.9;
  transition: opacity 0.3s ease;
  &:hover{
    opacity: 1;
    color: $main-color;
  }
}

.logo {
  display: flex;
  margin-left: 10px;
}
// .navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
//   margin-left: 24px;
//   color: #b23939;
// }
// .navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
//   color: #151515;
// }


// .navbar-lewagon .navbar-lewagon-actions .avatar {
//   margin-left: 24px;
// }

// .navbar-lewagon .dropdown-toggle {
//   cursor: pointer;
// }
