.cocktail-description {
  width: 50%;
  margin-right: 80px;
  p {
    font-size: 20px;
    margin-top: 50px;
  }
}

.cocktail {
   h1 {
      margin-right: 6px;
    }
    p {
      padding-right: 6px;
      font-size: 20px;
    }
}

.ingredient-description {
  display: flex;
  a {
    margin: 0;
    padding: 0;
  }
}

.about, .ingredient {
  border-bottom: 2px solid $main-color;
  width: 20%;
  padding-bottom: 10px;
}

.ingredient {
  width: 30%;

 }
