<div class="navbar navbar-expand-sm sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo">
      <%= image_tag 'logo.svg' %>
      <h1>Sig. Cocktail</h1>
    </div>
  <% end %>
  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a cocktail", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
