<!-- <div class="navbar sticky-top">
      <%= link_to "#", class: "navbar-brand" do %>
        <h1>Sig. Cocktail</h1>
      <% end %>

      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <%= link_to "Create a new cocktail", new_cocktail_path, class: "nav-link" %>
          </li>

        </ul>
      </div>
    </div> -->


<div class="navbar navbar-expand-sm sticky-top">
  <%= link_to root_path, class: "navbar-brand" do %>
     <h1>Sig. Cocktail</h1>
  <% end %>


  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
            <%= link_to "Create a new cocktail", new_cocktail_path, class: "nav-link" %>
      </li>

    </ul>
  </div>
</div>
