<div class="navbar navbar-lewagon sticky-top">
      <%= link_to "#", class: "navbar-brand" do %>
        <h1>Sig. Cocktail</h1>
      <% end %>

      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">

          <li>
            <%= link_to "Create a new cocktail", new_cocktail_path, class: "nav-link" %>
          </li>

        </ul>
      </div>
    </div>
